.product-div{
   background-color: #fff;
   padding: 70px 40px; 
   border-radius: 5px;
   margin: 100px auto;
   max-width: 900px;
}
.product-div .main-info .productImg{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.product-div .main-info .productImg img{
    width:80vw;
    max-width: 700px;
}
.product-div .main-info .text h3.price{
    font-weight: bold;
}
.product-div .main-info .text{
    max-width: 300px;
}