.product-div{
   background-color: #fff;
   padding: 70px 40px; 
   border-radius: 5px;
   margin: 100px auto;
   max-width: 1100px;
}
.product-div .main-info .productImg{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.product-div .main-info .productImg img{
    width: 15vw;
    max-height:30vw;
}
.product-div .main-info .text h3.price{
    font-weight: bold;
}
.product-div .main-info .text{
    max-width: 300px;
}
.main-info{
    width: 100%;
}

@media (max-width:768px) {
    .product-div .main-info .text {
        max-width: none;
    }
    .product-div .main-info .productImg img{
        width: 35vw;
    }
}