.shopping-cart-mobile{
    display:none;
}
.icon{
    font-size: 1.3em;
}
.items{
    font-weight: bold;
}

@media(max-width:768px) {
    .shopping-cart {
        display: none;
    }
    .shopping-cart-mobile{
        display:block;
    }
    .icon{
        font-size: 1.1em;
    }
}