.cartItem{
    background-color: #ffff;
    padding: 10px;
    min-height: 100px;
    margin: 10px auto;
    max-width:1000px;
    border-radius: 5px;
    overflow: hidden;
}
.cartItem .img{
    width: 15vw;
    max-height: 90px;
    max-width: 110px;
    
}
.cartItem .btn-danger{
    width: fit-content;
    font-size: 1em;
}
@media (max-width:525px) {
    .cartItem{
        display: flex;
        flex-direction: row;
    }
    .cartItem .img{
        width: 60vw;
        max-width: none;
        max-height: none;
    }
    .cartItem .btn-danger{
        width: 100%;
    }
}